header {
  background-color: #100f0d;
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  max-height: 120px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 120px;
  width: auto;
  margin-top: -10px;
}
/* .logo a {
  color: gold;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
} */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.menu li {
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 5px 70px;
}

.menu li a:hover, .menu li a.active {
  background-color: gold;
  color: #011533;
  border-radius: 5px;
}

.login-btn a {
  display: inline-block;
  background-color: purple;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: -10px;
}

.login-btn a:hover {
  background-color: #8B008B;
}

#body {
  background-color: #100f0d;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.left {
  width: 30%;
  position: relative;
  padding-right: 20px;
}

.left h2 {
  margin-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  width: 40%;
  position: relative;
  top: 20%;
  padding-left: 40px;
}

.right {
  width: 30%;
  position: relative;
  padding-left: 40px;
  transform: scale(1.1);
}

.gold-line {
  position: absolute;
  top: 0;
  left: 100%;
  width: 5px;
  height: 100%;
  background-color: #DAA520;
}

.middle p {
  padding: 20px;
  border-radius: 5px;
}

.right img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .col {
    width: 33.33%;
    margin-bottom: 0;
  }
}

.golden-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.golden-line .cube {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ffd700;
  border-radius: 50%;
}

.golden-line .cube:last-child {
  margin-right: 0;
}